/* ---------------------- Global metrics---------------------- */

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

@font-face {
    font-family: "Trailmix";
    src: url("fonts/TrailMix-Regular.otf") format("opentype");
    font-weight: normal;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4em;
    padding-bottom: 1.5em;
}

h1 { 
    font-weight: 400;
    font-size: 4.4em;
    display: block;
    float: left;
    text-transform: uppercase;
    color: #fff;
}

h2 {
    font-size: 26px;
    display: block;
    float: left;
}

h3 {
    font-size: 2.7em;
}

h3,
#number, 
#collaborators-number,
ol li::before, 
#trail-mix, 
.dropdown-about { 
    font-family: "Trailmix";
    font-weight: normal;
    -webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
    -moz-osx-font-smoothing: grayscale; 
}

/* ---------------------- links ---------------------- */
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.link:hover {
    text-align: center;
    
    color: #FFF231;
	background-image: -webkit-linear-gradient(92deg, #FFF231, #FF83EC);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 2s infinite linear;
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }

/* ---------------------- Buttons ---------------------- */

#arrow-left {
    display: block;
    margin: auto;
    margin-left: 1.5vw;
    width: 0;
    border: 20px solid;
    border-color: 
        #000
        #000
        transparent
        transparent;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
}

#arrow-right {
    display: block;
    margin: auto;
    margin-right: 1.5vw;
    width: 0;
    border: 20px solid;
    border-color: 
        #000
        #000
        transparent
        transparent;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

#arrow-left-white {
    display: block;
    margin: auto;
    margin-left: 1.5vw;
    width: 0;
    border: 20px solid;
    border-color: 
        #fff
        #fff
        transparent
        transparent;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
}

#arrow-right-white {
    display: block;
    margin: auto;
    margin-right: 1.5vw;
    width: 0;
    border: 20px solid;
    border-color: 
        #fff
        #fff
        transparent
        transparent;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

button {
    width: 4vw;
    position: fixed;
    border: none;
    cursor: pointer;
    height: 100%;
    top: 0;
    z-index: 3;
    outline: 1px #000 solid;
    float:left;
}

#display-left {
    left: 0;
    background-color: #FF83EC;
}

#display-left:hover {
    background-color: #5B356F;
}

#display-right {
    right: 0;
    background-color: #FFF231;
}

#display-right:hover {
    background-color: #3957CB;
}

.display-left-black {
    left: 0;
    background-color: #000;
}

.display-right-black {
    right: 0;
    background-color: #000;
}

#hover-blue:hover {
    background-color: #3957CB;
}

#hover-purple:hover {
    background-color: #5B356F;
}

/* ----- Header ----- */
header {
    grid-area: header;
    background-color: #F4F4F4;
    padding: 1% 2%;
    outline: 1px #000 solid;
    cursor: pointer;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.pink-header {
    background-color: #FF83EC;
    }

.pink-header:hover {
    background-color: #5B356F;
    color: #F4F4F4;
}

.yellow-header {
    background-color: #FFF231;
    }

.yellow-header:hover {
    background-color: #3957CB;
    color: #F4F4F4;
}

.grey-header {
    background-color: #F4F4F4;
}

.grey-header:hover {
    background-color: #E5E5E5;
}

#dialogues-header {
    font-weight: 500;
}

#spring-right {  
    position: relative;
    font-weight: 300;
}

/* ----- Container ----- */
.container,
#dropdown-container {
    display: grid;

    grid-template-areas:
    "header header"
    "main-one aside"
    "main-two main-two"
    "main-three main-three"
    "main-four main-four"
    "main-five main-five";

    grid-template-columns: 3fr 1.3fr;
    grid-template-rows: auto;
    grid-gap: 0;
    margin: 0 4% auto 4%;
}

/* ----- Info ----- */
/* width */
.info ::-webkit-scrollbar {
    display: none;
  }
  
.info {
    grid-area: aside;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
    background: #F4F4F4;
    outline: 1px #000 solid;
    position: relative;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.info h3 {
    padding: 3% 5%;
    background-color: #E5E5E5;
    display: inline-block;
    outline: 1px #000 solid;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#content-desktop {
    display: block;
}

#content-mobile {
    display: none;
}

.artist-blurb {
    box-sizing: border-box;
    padding-top: 12em;
    overflow: scroll;
}

/* ----- Artwork ----- */

.main-one, 
.info {
    height: 80vh;
}

.main-one {
    grid-area: main-one;
    outline: 1px #000 solid;
    background-color: #000;
    display: flex;
    margin-top: 1px;
}

.artwork {
    width: 100%;
    height: 100%;
    background-size: cover;
}

#fullscreen {
    display: none;
}

/* ----- Artist Name ----- */
.main-two {
    grid-area: main-two;
    background-color: #000;
    padding: 12px 2% 12px 2%;
    outline: 1px #000 solid;
    text-align: right;
}

#collaborators-right,
#name-right {
    font-weight: 400;
    display: contents;
}

#name-right,
#number {
    color: #000;
}

.yellow {
    background-color: #FFF231;
}

.pink {
    background-color: #FF83EC;
}

/* ----- Artist's Social ----- */
.main-three {
    grid-area: main-three;
    height: 80vh;
    outline: 1px #000 solid;
}

iframe {
    width: 100%;
    height: 80vh;
    border: none;
}

#split-iframe {
    width: 50%;
    float: left;
}

/* ----- Collaborators  ----- */
.main-four {
    grid-area: main-four;
    height: 100%;
    outline: 1px #000 solid;
    background-color: #F4F4F4;
}

.column-container {
    padding: 4%;
    display: grid;
    grid-template-rows: repeat(20, auto);
    grid-auto-flow: column; 
}

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
}

ol li {
    counter-increment: my-awesome-counter;
    padding: 1.4%;
    font-size: 1.5em;
}

ol li::before {
    content: counter(my-awesome-counter) " ";
    font-size: 2em;
}

/* ----- Colophon ----- */
#colophon-right {
    font-weight: 400;
    position: absolute;
    top: 2%;
    right: 2%;
}

.main-five {
    grid-area: main-five;
    height: 80vh;
    background-color: #000;
    padding: 4%;
    position: relative;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.main-five h2,
.main-five p  {
    color: #fff;
}

.main-five h2 {
    padding-bottom: 1.2em;
}

.main-five p {
    font-size: 1.2em;;
    line-height: 0.8em;
    padding-bottom: 1em;
    text-indent: 8%;
}

#team-title {
    margin-left: -8%;
}

.item h2 {
    padding-top: 8%;
    float: none;
}

#typefaces-container {
    margin-top: 10px;
}

#printed-container {
    margin-top: 14%;
}

.item-container {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    width: 80%;
}

#trail-mix {
    font-size: 2em;
}

/* ----- dropdown ----- */
#dropdown-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-height: 100%;
    overflow-y: scroll;
    background-color: #F4F4F4;
}

#dropdown-container::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.dropdown-main-five {
    grid-area: main-five;
    background-color: #E5E5E5;
    padding: 2%;
    position: relative;
    outline: 1px #000 solid;
}

.grey {
    background-color: #E5E5E5;
    padding: 2%;
    margin-bottom: 1px;
}

#readmore {
    padding: 0;
    font-size: 1.5em;
    float: right;
    border-bottom: 1px #000 solid;
    line-height: 1em;
    margin-top: 0.5%;
}

#readmore:hover {
    border-bottom: 1px #FF83EC solid;
}

/* ---------------------- SMALL SCREENS---------------------- */

@media screen 
    and (max-width: 1300px) 
    and (orientation: landscape) {

    /* ----- Global metrics ----- */
    h1 {
        font-size: 3.2em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.8em;
    }

    /* ----- Buttons ----- */
    #arrow-left {
        border: 14px solid;
        border-color: 
            #000
            #000
            transparent
            transparent;
    }

    #arrow-right {
        border: 14px solid;
        border-color: 
            #000
            #000
            transparent
            transparent;
    }

    #arrow-left-white {
        border: 14px solid;
        border-color: 
            #fff
            #fff
            transparent
            transparent;
    }


    #arrow-right-white {
        border: 14px solid;
        border-color: 
            #fff
            #fff
            transparent
            transparent;
    }

    /* ----- Container ----- */
    .container,
    #dropdown-container {
        grid-template-columns: 3fr 1.5fr;
        margin: 0 4% auto 4%;
    }

    /* ----- Info ----- */
    .artist-blurb {
        padding-top: 8em;
    }

    /* ----- Artwork ----- */
    .main-one,
    .info {
        height: 75vh;
    }

    .artwork {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    #fullscreen {
        display: none;
    }

    /* ----- Collaborators  ----- */
    ol li {
        padding: none;
        font-size: 0.8em;
    }

    /* ----- Colophon  ----- */
    .main-five p {
        font-size: 1em;;
    }

    .item-container {
        width: 100%;
    }

    /* ----- Dropdown  ----- */
    #readmore {
        font-size: 1em;
    }
}

@media screen 
    and (max-width: 768px) 
    and (orientation: landscape) {

    /* ----- Global metrics  ----- */
    h1 {
        font-size: 2.5em;
    }

    /* ----- Buttons  ----- */
    #arrow-left {
        border: 10px solid;
        border-color: 
        #000
        #000
        transparent
        transparent;
    }

    #arrow-right {
        border: 10px solid;
        border-color: 
        #000
        #000
        transparent
        transparent;
    }

    #arrow-left-white {
        border: 10px solid;
        border-color: 
            #fff
            #fff
            transparent
            transparent;
    }

    #arrow-right-white {
        border: 10px solid;
        border-color: 
            #fff
            #fff
            transparent
            transparent;
    }

    /* ----- Colophon  ----- */
    .main-five {
        height: 100%;
    }

    .item-container p {
        font-size: 0.7em;
    }

    }

@media screen 
    and (max-width: 1200px) 
    and (orientation: portrait) { 

    /* ----- Global metrics ----- */
    h1 { 
        font-size: 28px;
    }

    h2 {
        font-size: 23px;
    }

    /* ----- Header ----- */
    header {   
        padding: 2% 4%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }
    
    /* ----- Buttons ----- */
    #arrow-left {
        margin-left: 14%;
    }

    #arrow-right {
        margin-right: 14%;
    }

    #arrow-left-white {
        margin-left: 14%;
    }

    #arrow-right-white {
        margin-right: 14%;
    }
    
    button {
        width: 50%;
        height: 12%;
        bottom: 0;
        top: unset;
    }

    /* ----- Container ----- */
    .container {
        display: block;
        margin: 0 0 16% 0;
    }

    /* ----- Info ----- */
    .info {
        grid-area: aside;
        display: block;
        padding: 0;
    }

    .info h3 {
        width: 100%;
        position: relative;
        padding: 4%;
        box-sizing: border-box;
    }

    #content-desktop {
        display: none;
    }

    #content-mobile {
        display: block;
    }
    
    .artist-blurb {
        padding: 0 4% 0 4%;
        padding-top: 2em;
    }

    /* ----- Artwork ----- */
    
    .main-one,
    .info {
        height: auto;
    }

    .artwork {
        width: 100%;
        height: 100%;
    }

    /* ----- Artist Name ----- */
    .main-two {
       position: relative;
       padding: 4%;
    }

    #collaborators-right {
        float: none;
        padding-left: 16%;
    }

    #name-right {
        float: none;
        padding-left: 12%;
    }

    /* ----- Artist's Social ----- */
    #split-iframe {
        width: 100%;
    }

    /* ----- Collaborators  ----- */

    ol li {
        font-size: 1em;
    }

    ol li::before {
        font-size: 1.8em;
    }

    /* ----- Colophon ----- */
    #colophon-right {
        top: 4%;
        right: 4%;
    }

    .main-five {
        height: 55vh;
    }

    .main-five p  {
        font-size: 14px;
    }

    #typefaces-container,
    #printed-container {
        margin-top: 0;
    }

    .item-container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 22%;
    }

    /* ----- dropdown ----- */
    #dropdown-container {
        margin: 0 0 15% 0;
        grid-template-columns: auto;
        z-index: 2;
    }

    #readmore {
        font-size: 1em;
    }
}

@media screen 
and (max-width: 736px) 
and (orientation: portrait) { 

    /* ----- Artwork  ----- */
    #artwork-fullscreen {
        width: 100%;
    }

    #fullscreen {
        display: block;
        position: absolute;
        width: 24px;
        right: 2%;
        top: 75vw;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 10px;
    }

    /* ----- Collaborators  ----- */
    .column-container {
        /* display: block; */
        grid-template-columns: auto auto;
        grid-template-rows: repeat(58, auto);
    }

    ol li {
        font-size: 1em;
    }

    ol li::before {
        font-size: 1.8em;
    }

    /* ----- Colophon ----- */
    #colophon-right {
        top: 4%;
        right: 4%;
    }

    .main-five {
        height: auto;
    }

    .main-five p  {
        font-size: 14px;
    }

    #typefaces-container,
    #printed-container {
        margin-top: 0;
    }

    .item-container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-bottom: 4%;
        margin-top: 22%;
    }

    /* ----- Colophon ----- */
    .menu-about {
        font-size: 1.3em;
        text-align: left;
        display: block;
        width: 70%;
    }

    #readmore {
        font-size: 1em;
        margin-top: 6%;
    }

    .dropdown-main-five {
        padding: 4%;
    }

    /* ----- dropdown ----- */
    #dropdown-container {
    margin: 0 0 20% 0;
    }
}