/* ---------------------- Global metrics---------------------- */
* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 16px;
}

/* ---------------------- Slides ---------------------- */
.mySlides {
    margin: auto 4% auto 4%;
    /* display: none; */
}

/* ---------------------- Buttons ---------------------- */

.button {
    position: fixed;
    background-color: grey;
    color: white;
    padding: 1.6%;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    height: 100%;
}

.display-left {
    left: 0;
}

.display-right {
   right: 0;
}

/* ---------------------- LARGE SCREENS---------------------- */
@media screen and (min-width: 1000px) {
   
/* ---------------------- Homepage page ---------------------- */
.home-page {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 0;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.hero-cover { 
    grid-area: 1 / 1 / 2 / 2; 
    outline: 1px blue solid;
    margin-right: 1px;
}

/* ---------------------- Artist page ---------------------- */
.artist-page {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    outline: 1px blue solid;
}

.info-panel {
    padding: 6%;
    /* grid-area - shorthand for - grid-row-start + grid-column-start + grid-row-end + grid-column-end: */
    grid-area: 1 / 2 / 3 / 3;
    outline: 1px blue solid;
}

.info-panel img {
    width: 45%;
}

.artwork {
    padding: 2%;
    grid-area: 1 / 1 / 2 / 2;
}

.artwork img {
    height: 100%;
}

.artist-social {
    grid-area: 2 / 1 / 3 / 2;
    padding: 2px;
    border-top: 1px blue solid;
}

.artist-social iframe {
    height: 92%;
    width: 94%;
    border: 1px blue solid;
    margin: 2% auto 2% 2%;
    padding: 1%;
}

/* two artist collab on one comic */
.artist-social .social-half {
    width: 44.5%;
    height: 90.5%;
}
}

/* ---------------------- SMALL SCREENS---------------------- */
@media screen and (max-width: 1000px) {
    /* iPhone X */

}