/* ---------------------- Global metrics---------------------- */
* {
    margin: 0;
    padding: 0;
}
/* 
body {
    background-color: black;
} */

p {
    font-size: 16px;
}

h1 { 
    font-size: 45px;
    display: block;
    float: left;
    text-transform: uppercase;
    color: white;
}

h1.right {
    float: right;
    margin-right: 1.5%;
}

h2 {
    display: block;
    float: left;
}

h2.right {
    float: right;
    margin-right: 4%;
}

h3 {
   font-size: 30px;
}

.avatar {
    width: 25%;
}

.artist-blurb {
    position: relative;
    bottom: -50%;
}

/* ---------------------- Slides ---------------------- */
.mySlides {
    margin: 5.7% 4% auto 4%;
    /* display: none; */
}

/* ---------------------- Buttons ---------------------- */

.button {
    position: fixed;
    background-color: lightgray;
    color: black;
    padding: 1.6%;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    height: 100%;
    top: 0;
    z-index: 2;
    outline: 1px black solid;
}

.display-left {
    left: 0;
}

.display-right {
   right: 0;
}
/* ---------------------- LARGE SCREENS---------------------- */
@media screen and (min-width: 1000px) {

header {
    background-color: #EAD814;
    margin-left: 4%;
    position: fixed;
    top: 0;
    right: 0;
    left: -2px;
    right: -2px;
    padding: 2%;
    outline: 1px black solid;
    z-index: 1;
}

.container {
    display: grid;

    grid-template-areas:
    "main-one info"
    "main-two main-two"
    "main-three main-three"
    "main-four main-four";

    grid-template-columns: 3fr 440px;
    grid-template-rows: auto;
    grid-gap: 0;
}

info {
    grid-area: info;

    padding: 8% 4%;
    background: lightgrey;
    outline: 1px black solid;
    height: 73.6vh;
}

/* ----- Artwork ----- */
main-one {
    grid-area: main-one;
    height: 80vh;
    background-color: black;
}

.artwork {
    width: 66.5vw;
}

/* ----- Artist Name ----- */
main-two {
    grid-area: main-two;
    background: black;
    padding: 2%;
}

/* ----- Collaborators or Artist's Social ----- */
main-three {
    grid-area: main-three;
    height: 80vh;
}

/* ----- Colophon ----- */
main-four {
    grid-area: main-four;
    height: 92vh;
    background-color: black;
}

.colophon {
    padding-top: 2%;
}

iframe {
    width: 100%;
    height: 80vh;
    border: none;
}

}

/* ---------------------- SMALL SCREENS---------------------- */
@media screen and (max-width: 768px) {
    /* iPhone X */

    .container {
        grid-template-areas:
          "main-one"
          "info"
          "main-two"
          "main-three";
    
        grid-template-columns: 1fr;
        grid-template-rows:
          auto /* main-one */
          auto
          auto
          auto
          auto;
      }
}