/* Landscape */
@media only screen 
    and (min-width: 768px)   
    and (max-width: 1024px)  
    and (orientation: landscape) {

    /* ----- Global metrics ----- */
    h1 { 
        font-size: 3.5em;
    }

    h2 {
        font-size: 25px;
    }

    /* ----- Buttons ----- */

    #arrow-left,
    #arrow-left-white {
        margin-left: 2.5vw;
    }

    #arrow-right,
    #arrow-right-white {
        margin-right: 2.5vw;
    }

    button {
        width: 7vw;
    }

    /* ----- Header ----- */
    header { 
        /* display: none; */
    } 

    #dialogues-header {
        margin-left: 7%;
    }

    #spring-right {  
        margin-right: 7%;
    }

    /* ----- Container ----- */
    .container,
    #dropdown-container {
        display: block;
        margin: 0 7% auto 7%;
    }

    /* ----- Artwork ----- */
    .main-one {
        height: 100vh;
    }

    /* ----- Artist Name ----- */
    #collaborators-right {
        float: none;
        padding-left: 16%;
    }

    #name-right {
        float: none;
        padding-left: 12%;
    }

    /* ----- Collaborators  ----- */

    ol li {
        font-size: 1em;
    }

    /* ----- dropdown ----- */
    #dropdown-container {
        margin: 16% 0 22% 0;
        grid-template-columns: auto;
        /* z-index: 2; */
    }

}