/* ---------------------- SMALL SCREENS---------------------- */

@media screen 
    and (max-width: 1300px) 
    and (orientation: landscape) {

    /* ---------- Global metrics ---------- */
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.8em;
    }

    /* ---------- Buttons ---------- */
    #arrow-left {
        border: 14px solid;
        border-color: 
            #000
            #000
            transparent
            transparent;
    }

    #arrow-right {
        border: 14px solid;
        border-color: 
            #000
            #000
            transparent
            transparent;
    }

    #arrow-left-white {
        border: 14px solid;
        border-color: 
            #fff
            #fff
            transparent
            transparent;
    }

    #arrow-right-white {
        border: 14px solid;
        border-color: 
            #fff
            #fff
            transparent
            transparent;
    }

    /* ---------- Container ---------- */
    .container,
    #dropdown-container {
        grid-template-columns: 3fr 1.5fr;
        margin: 0 4% auto 4%;
    }

    /* ---------- Info ---------- */
    .artist-blurb {
        padding-top: 8em;
    }

    /* ---------- Artwork ---------- */
    .main-one,
    .info {
        height: 75vh;
    }

    .artwork {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    #fullscreen {
        display: none;
    }

    /* ---------- Collaborators ---------- */
    .column-container {
        grid-column-gap: 10%;
    }

    ol li {
        padding: none;
        font-size: 0.9em;
        padding-bottom: 0.2em;
        width: 100%;
    }

    ol li::before {
        font-size: 1.5em;
    }

    /* ---------- Colophon ---------- */
    .main-five p {
        font-size: 1em;;
    }

    .item-container {
        width: 100%;
    }

    /* ---------- Dropdown ---------- */
    #dropdown-container .main-four {
        min-height: 80vh;
    }

    #readmore {
        font-size: 0.9em;
    }
}

@media screen 
    and (max-width: 768px) 
    and (orientation: landscape) {

    /* ---------- Global metrics ---------- */
    h1 {
        font-size: 2em;
    }

    /* ---------- Buttons ---------- */
    #arrow-left {
        border: 10px solid;
        border-color: 
        #000
        #000
        transparent
        transparent;
    }

    #arrow-right {
        border: 10px solid;
        border-color: 
        #000
        #000
        transparent
        transparent;
    }

    #arrow-left-white {
        border: 10px solid;
        border-color: 
            #fff
            #fff
            transparent
            transparent;
    }

    #arrow-right-white {
        border: 10px solid;
        border-color: 
            #fff
            #fff
            transparent
            transparent;
    }

     /* ---------- Header ---------- */
     header {
        height: 7vh;
    }

    /* ---------- Collaborators ---------- */
    .column-container {
        grid-column-gap: 10%;
    }

    ol li {
        padding: none;
        font-size: 0.7em;
        width: 110%;
    }

    ol li::before {
        font-size: 1.4em;
    }

    /* ---------- Colophon ---------- */
    .main-five {
        height: 100%;
    }

    .item-container p {
        font-size: 0.7em;
    }

    /* ---------- Dropdown ---------- */
    #dropdown-container {
        height: 100%;
    }

 }

@media screen 
    and (max-width: 1200px) 
    and (orientation: portrait) { 

    /* ---------- Global metrics ---------- */
    h1 { 
        font-size: 2.5em;
    }

    h2 {
        font-size: 22px;
    }

    /* ---------- Header ---------- */
    .sticky {
        width: auto;
    }

    .container header {
        z-index: 4;
    }

    header {   
        padding: 0.8vh 2% 1.4vh 2%;
        height: 2vh;
        width: none;
    }

    #dialogues-header {
        left: 4vw;
    }
    
    #spring-right {  
        right: 4vw;
    }

    /* ---------- Buttons ---------- */
    #arrow-left {
        margin-left: 14%;
    }

    #arrow-right {
        margin-right: 14%;
    }

    #arrow-left-white {
        margin-left: 14%;
    }

    #arrow-right-white {
        margin-right: 14%;
    }
    
    button {
        width: 50%;
        height: 8vh;
        bottom: 0;
        top: unset;
    }

    /* ---------- Container ---------- */
    .container {
        display: block;
        margin: 0 0 10% 0;
    }

    /* ---------- Info ---------- */
    .info {
        grid-area: aside;
        display: block;
        padding: 0;
    }

    .info h3 {
        width: 100%;
        position: relative;
        padding-left: 4%;
        box-sizing: border-box;
    }

    #content-desktop {
        display: none;
    }

    #content-mobile {
        display: block;
    }
    
    .artist-blurb {
        padding: 0 4% 0 4%;
        padding-top: 2em;
        padding-bottom: 2em;
        margin-bottom: 0;
    }

    /* ---------- Artwork ---------- */
    
    .main-one,
    .info {
        height: auto;
    }

    .artwork {
        width: 100%;
        height: 100%;
    }

    /* ---------- Artist Name ---------- */
    .main-two {
       position: relative;
       padding: 1% 4%;
    }

    #collaborators-right {
        float: none;
        padding-left: 16%;
    }

    #name-right {
        float: none;
        padding-left: 12%;
    }

    /* ---------- Artist's Social ---------- */
    #split-iframe {
        width: 100%;
    }

    /* ---------- Collaborators ---------- */
    .column-container {
        grid-column-gap: 12%;
    }

    ol li {
        font-size: 14px;
        width: 100%;
    }

    ol li::before {
        font-size: 1.8em;
    }

    /* ---------- Colophon ---------- */
    #colophon-right {
        top: 4%;
        right: 4%;
    }

    .main-five {
        height: auto;
    }

    .main-five p  {
        font-size: 14px;
    }

    #typefaces-container,
    #printed-container {
        margin-top: 0;
    }

    .item-container {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 10%;
    }

    /* ---------- dropdown ---------- */
    #dropdown-container {
        margin: 0;
        grid-template-columns: auto;
        z-index: 3;
        height: 100%;
    }

    #dropdown-container .main-two {
        padding: 2% 4%;
    }

    #dropdown-container #dialogues-header {
        left: 4vw;
    }
    
    #dropdown-container #spring-right {
        right: 4vw;
    }

    #readmore {
        font-size: 14px;
        margin-top: 1%;
    }

    #dropdown-container .main-four {
        height: 90vh;
    }

    .dropdown-main-five {
        height: 3vh;
    }

    .dropdown-about {
        margin-top: 0.5%;
    }
}

@media screen 
and (max-width: 736px) 
and (orientation: portrait) { 
    /* ---------- Global metrics ---------- */
    h1 { 
        font-size: 1.7em;
    }

    /* ---------- Header ---------- */
    header {   
        height: 3vh;
        padding: 2vh 0;
    }

    button {
        height: 12vh;
        z-index: 1;
    }

    /* ---------- Container ---------- */
    .container {
        margin: 0 0 15% 0;
    }

    /* ---------- Info ---------- */

    .info h3 {
        z-index: 2;
    }

    /* ---------- Collaborators ---------- */
    .main-four {
        padding: 4%;
    }

    .column-container {
        /* display: block; */
        grid-template-columns: auto auto;
        grid-template-rows: repeat(58, auto);
        justify-content: left;
    }

    ol li {
        font-size: 14px;
    }

    ol li::before {
        font-size: 1.8em;
    }
    
    /* ---------- Colophon ---------- */
    #colophon-right {
        top: 4%;
        right: 4%;
    }

    .main-five {
        height: auto;
    }

    .main-five p  {
        font-size: 13px;
    }

    #typefaces-container,
    #printed-container {
        margin-top: 0;
    }

    .item-container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-bottom: 4%;
        margin-top: 22%;
    }

    /* ---------- dropdown ---------- */
    #dropdown-container {
        height: 100%;
        z-index: 3;
    }

    .menu-about {
        font-size: 1.3em;
        text-align: left;
        display: block;
        width: 70%;
    }

    #readmore {
        font-size: 14px;
        margin-top: 4.5%;
    }

    #dropdown-container .main-four {
        height: 100%;
    }

    .dropdown-main-five {
        padding: 4%;
        height: auto;
    }
}