/* ---------- Global metrics ---------- */

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url("../fonts/Inter-Light-slnt=0.ttf") format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url("../fonts/Inter-Regular-slnt=0.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url("../fonts/Inter-Medium-slnt=0.ttf") format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "Trailmix";
    src: url("../fonts/TrailMix-Regular.otf") format("opentype");
    font-weight: normal;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4em;
    padding-bottom: 1.5em;
}

p:nth-last-child(1) {
    padding-bottom: 0;
}

h1 { 
    font-weight: 400;
    font-size: 4em;
    display: block;
    float: left;
    text-transform: uppercase;
    color: #fff;
}

h1 a:hover {
    text-decoration: underline !important;
    text-decoration-color: #000;
    text-underline-offset: 8px !important;
}

h2 {
    font-size: 24px;
    display: block;
    float: left;
}

h3 {
    font-size: 2.7em;
}

h3,
#number, 
#collaborators-number,
ol li::before, 
#trail-mix, 
.dropdown-about { 
    font-family: "Trailmix";
    font-weight: normal;
    -webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
    -moz-osx-font-smoothing: grayscale; 
}

/* ---------- links ---------- */
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.link:hover {
    border-bottom: 2px #000 solid;
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }

/* ---------- Buttons ---------- */

#arrow-left {
    display: block;
    margin: auto;
    margin-left: 1.5vw;
    width: 0;
    border: 20px solid;
    border-color: 
        #000
        #000
        transparent
        transparent;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
}

#arrow-right {
    display: block;
    margin: auto;
    margin-right: 1.5vw;
    width: 0;
    border: 20px solid;
    border-color: 
        #000
        #000
        transparent
        transparent;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

#arrow-left-white {
    display: block;
    margin: auto;
    margin-left: 1.5vw;
    width: 0;
    border: 20px solid;
    border-color: 
        #fff
        #fff
        transparent
        transparent;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
}

#arrow-right-white {
    display: block;
    margin: auto;
    margin-right: 1.5vw;
    width: 0;
    border: 20px solid;
    border-color: 
        #fff
        #fff
        transparent
        transparent;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

button {
    width: 4vw;
    position: fixed;
    border: none;
    cursor: pointer;
    height: 100%;
    top: 0;
    float:left;
    z-index: 3;
}

@-moz-document url-prefix() {
    button {
      outline: none !important;  
    }
    
    #display-left {
        border-right: 0.12rem #000 solid;
    }

    #display-right {
        border-left: 0.12rem #000 solid;
    }
  }

#display-left {
    left: 0;
    background-color: #FF83EC;
}

#display-right {
    right: 0;
    background-color: #FFF231;
}

.display-left-black {
    left: 0;
    background-color: #000;
}

.display-right-black {
    right: 0;
    background-color: #000;
}

/* ---------- Header ---------- */
header, 
.info,
.info h3,
.main-one,
.main-two,
.main-three,
.main-four,
.dropdown-main-five,
button {
    outline: 0.12rem #000 solid;
}

header {
    grid-area: header;
    background-color: #F4F4F4;
    padding-top: 1%;
    padding-bottom: 0.8%;
    cursor: pointer;
    width: 100vw;
    z-index: 2;
    height: 4vh;
}

header:hover {
    text-decoration: underline;
}

.pink-header {
    background-color: #FF83EC;
}

.yellow-header {
    background-color: #FFF231;
}

.grey-header {
    background-color: #F4F4F4;
}

#dialogues-header {
    position: absolute;
    left: 6vw;
    font-weight: 400;
}

#dialogues-header:hover {
    border-bottom: 3px #000 solid;
}

#spring-right {  
    position: absolute;
    right: 6vw;
    font-weight: 300;
    text-transform: uppercase;
}

/* ---------- Container ---------- */
.container,
#dropdown-container {
    display: grid;

    grid-template-areas:
    "header header"
    "main-one aside"
    "main-two main-two"
    "main-three main-three"
    "main-four main-four"
    "main-five main-five";

    grid-template-columns: 3fr 1.3fr;
    grid-template-rows: auto;
    grid-gap: 0;
    margin: 0 4% auto 4%;
}

/* ---------- Info ---------- */
.info ::-webkit-scrollbar {
    display: none;
  }
  
.info {
    grid-area: aside;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.info h3 {
    padding: 1.8% 5%;
    background-color: #E5E5E5;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#content-desktop {
    display: block;
}

#content-mobile {
    display: none;
}

.artist-blurb {
    box-sizing: border-box;
    padding-top: 12em;
    overflow: scroll;
    margin-bottom: 2em;
}

/* ---------- Artwork ---------- */

.main-one, 
.info {
    height: 80vh;
}

.main-one {
    grid-area: main-one;
    background-color: #000;
    display: flex;
    margin-top: 1px;
}

.artwork {
    width: 100%;
    height: 100%;
    background-size: cover;
}

/* ---------- Artist Name ---------- */
.main-two {
    grid-area: main-two;
    background-color: #000;
    padding: 4px 2% 4px 2%;
    text-align: right;
    z-index: 1;
}

#collaborators-right,
#name-right {
    font-weight: 400;
    display: contents;
}

#name-right,
#number {
    color: #000;
}

.yellow {
    background-color: #FFF231;
    cursor: pointer;
}

.pink {
    background-color: #FF83EC;
    cursor: pointer;
}

/* ---------- Artist's Social ---------- */
.main-three {
    grid-area: main-three;
    height: 80vh;
}

iframe {
    width: 100%;
    height: 80vh;
    border: none;
}

#split-iframe {
    width: 50%;
    float: left;
}

/* ---------- Collaborators ---------- */
.main-four {
    grid-area: main-four;
    height: 100%;
    background-color: #F4F4F4;
    padding: 2%;
}

.column-container {
    display: grid;
    grid-template-rows: repeat(20, auto);
    grid-auto-flow: column; 
    grid-column-gap: 22%;
    justify-content: center;
}

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
}

ol li {
    counter-increment: my-awesome-counter;
    font-size: 1.1em;
    width: 125%;
}

ol li::before {
    content: counter(my-awesome-counter) " ";
    font-size: 2em;
}

/* ---------- Colophon ---------- */
#colophon-right {
    font-weight: 400;
    position: absolute;
    top: 2%;
    right: 2%;
}

.main-five {
    grid-area: main-five;
    height: 80vh;
    background-color: #000;
    padding: 4%;
    position: relative;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.main-five h2,
.main-five p  {
    color: #fff;
}

.main-five p {
    font-size: 1.2em;
    line-height: 0.8em;
    padding-bottom: 1em;
    text-indent: 8%;
}

#team-title {
    margin-left: -8%;
}

.item h2 {
    /* regular */
    font-weight: 400;
    padding-top: 8%;
    float: none;
    padding-bottom: 1.2em;
}

.item p {
    font-weight: 300;
}

.item a {
    font-weight: 400;
}

.item a:hover {
    text-align: center;
    
    color: #FFF231;
	background-image: -webkit-linear-gradient(92deg, #FFF231, #FF83EC);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    -webkit-animation: hue 2s infinite linear;
}

#typefaces-container {
    margin-top: 10px;
}

#printed-container {
    margin-top: 14%;
}

.item-container {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    width: 80%;
}

#trail-mix {
    font-size: 2em;
}

/* ---------- dropdown ---------- */
#dropdown-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 1;
    background-color: #F4F4F4;
}

#dropdown-container::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#dropdown-container #dialogues-header {
    left: 2vw;
}

#dropdown-container #spring-right {
    right: 2vw;
}

.dropdown-main-five {
    grid-area: main-five;
    background-color: #E5E5E5;
    padding: 1% 2% 1% 2%;
    position: relative;
}

.grey {
    background-color: #E5E5E5;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1px;
}

#readmore {
    padding: 0;
    margin-top: 0.2%;
    font-size: 1.1em;
    float: right;
}